node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.nyc_output
coverage
.nyc_output
.coverage
coverage.json
*.lcov
.vscode
.idea
*.swp
*.swo
*~
.DS_Store
Thumbs.db
tests
.github
.prettierrc
eslint.config.js
jest.config.ts
openapi.json 